$primary-bkgd-color: lightgrey;
$secondary-bkgd-color: white;
$primary-header-font: 'Monoton', cursive;
$primary-txt-font: 'Abel', sans-serif;


body {
    font-family: $primary-txt-font;

    h1 {
        display: flex;
        justify-content: center;
        font-family: $primary-header-font;
        background-color: $primary-bkgd-color;
        width: 75%;
        margin: 0 auto;
        padding: 20px;
        font-weight: normal;
    }

    #lot-info {
        display: flex;
        width: 75%;
        background-color: $primary-bkgd-color;

            li {
                background-color: $secondary-bkgd-color;
            }
    }

    #car-info {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 75%;
        margin: 20px auto;

        li {
            background-color: $primary-bkgd-color;
            list-style: none;
            margin: 10px;
            padding: 15px;

                p:nth-child(-n+2){
                    display: inline-block;
                    margin: 0px;
                    font-weight: bold;
                }
                
                button {
                    padding: 10px;
                    cursor: pointer;
                    border-width: 0px;
                    background-color: white;
                    margin-right: 10px;
                }

                button:hover {
                    background-color: darkgray;
                    border-width: 0px;
                    border: 2px;
                }
        }
    }

}








 