$primary-bkgd-color: lightgrey;
$secondary-bkgd-color: #CBE9E2;
$tertiary-bkgd-color: #487F98;
$primary-txt-color: #487F98;
$secondary-txt-color: #AEB2B5;
$header-txt-color: #68ABC4;
$primary-header-font: 'Monoton', cursive;
$primary-txt-font: 'Abel', sans-serif;



body {
    font-family: $primary-txt-font;

    h1 {
        display: flex;
        justify-content: center;
        font-family: $primary-header-font;
        background-color: $primary-bkgd-color;
        width: 75%;
        margin: 0 auto;
        padding: 20px;
        font-weight: normal;
        color: $primary-txt-color;
    }

    ul {
        display: flex;
        padding: 0;

        li {
            list-style: none;
        }
    }

    #lot-info {
        width: 50%;
        background-color: $tertiary-bkgd-color;    
        margin-right: auto;
        margin-left: auto;
        justify-content: space-around;

            li {
                background-color: $secondary-bkgd-color;
                // list-style: none;
                margin: 20px;
                padding: 10px 60px;
            }
    }

    #car-info {
        justify-content: center;

        li {
            background-color: $primary-bkgd-color;
            margin: 10px;
            padding: 15px;
            width: 20%;
            text-align: center;

                p:nth-child(-n+2){
                    display: inline-block;
                    margin: 0px;
                    font-weight: bold;
                    color: $primary-txt-color;
                }
                
                button {
                    padding: 10px;
                    cursor: pointer;
                    border-width: 0px;
                    background-color: white;
                    margin-right: 10px;
                }

                button:hover {
                    background-color: $secondary-bkgd-color;
                    border-width: 0px;
                    border: 2px;
                }
        }
    }

}








 